:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-rgb: 231, 231, 231;
  --black-rgb: 19, 19, 19;

  --white: rgb(var(--white-rgb));
  --black: rgb(var(--black-rgb));

  --off-white: rgb(248, 248, 248);

  --primary-color: var(--black);
  --secondary-color: var(--white);

  --primary-rgb: var(--black-rgb);
  --secondary-rgb: var(--white-rgb);

  --accent-color: rgb(61, 164, 171);

  background-color: var(--off-white);
  color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--white);
    --secondary-color: var(--black);
    background-color: var(--black);

    --primary-rgb: var(--white-rgb);
    --secondary-rgb: var(--black-rgb);
    color: var(--secondary-color);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin-bottom: 24px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 2px solid var(--accent-color);
}

.containedButton,
.textButton {
  padding: 4px 8px;
  border-radius: 25px;
  font-weight: 600;
}

.containedButton {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.textButton {
  background: none;
  color: var(--accent-color);
  text-decoration: underline;
}

.textButton:hover {
  text-decoration: none;
}

main {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}